# Database Settings
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=default_database
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Django Settings (Recuerda cambiar en PROD)
SECRET_KEY="django-insecure-change-me-for-prod"
DEBUG=False
ALLOWED_HOSTS="127.0.0.1,localhost,tudominio.cl"
CSRF_TRUSTED_ORIGINS="http://127.0.0.1:8080,http://127.0.0.1:8000,https://tudominio.cl"
ADMIN_URL="/admin"

# Webhooks para Notificaciones N8N
N8N_WEBHOOK_CLEAN=""
N8N_WEBHOOK_THREAT=""

# Email Configuration (SMTP)
# Cambia a EMAIL_MAILER=newsletters para enviar correos reales por SMTP
EMAIL_MAILER=default # default o buzon-mailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
BULK_EMAIL_SERVICE_ACCOUNT_ID=diftel@usm.cl # El usuario
BULK_EMAIL_SERVICE_API_KEY=app-password # La contraseña
EMAIL_USE_TLS=True

# Cloudflare Tunnel (Opcional)
CLOUDFLARE_TOKEN=""

# Docmost Settings
DOCMOST_APP_URL="http://localhost:3000"
DOCMOST_APP_SECRET="generate-a-very-strong-random-secret-key-that-is-long-enough"
DOCMOST_DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public"
DOCMOST_REDIS_URL="redis://redis:6379"
DOCMOST_PORT=3000
